{% extends 'base.html' %}

{% block title %}Account Details{% endblock %}

{% block content %}

    <div class="card sign-card text-center mx-auto mt-4">
        <div class="card-body">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            <span>{{ message }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <h3 class="mt-3">{{ gettext("Account Details") }}</h3>
            <form method="post" action="/account_details">
                <div class="form-group mt-4">
                    <label for="first_name" class="sr-only">{{ gettext("First Name title") }}</label>
                    <input type="text" class="form-control input-lg" id="first_name" name="first_name"
                           placeholder="{{ gettext("First Name placeholder") }}" value="{{ current_user.first_name }}" required="required">
                </div>
                <div class="form-group mt-4">
                    <label for="last_name" class="sr-only">{{ gettext("Last Name title") }}</label>
                    <input type="text" class="form-control input-lg" id="last_name" name="last_name"
                           placeholder="{{ gettext("Last Name placeholder") }}" value="{{ current_user.last_name }}" required="required">
                </div>
                <div class="form-group mt-4">
                    <label for="region_account" class="sr-only">{{ gettext("Region filter") }}</label>
                    <select class="selectpicker form-control" id="region_account" name="region_account"
                            title="{{ gettext("Region filter placeholder") }}" required="required">
                        {# Dynamic loading of options #}
                    </select>
                </div>
                <div class="form-group mt-4">
                    <label for="email" class="sr-only">{{ gettext("Email title") }}</label>
                    <input type="email" class="form-control input-lg" id="email" name="email"
                           placeholder="{{ gettext("Email placeholder") }}" value="{{ current_user.email }}" required="required">
                </div>
                <button type="submit" class="btn btn-lg btn-block rgba-opacity main-color-bg font-weight-bold mt-3">
                    {{ gettext("Change details form button") }}
                </button>
            </form>
            <button id="deleteBtn" type="submit" class="btn btn-lg btn-block btn-danger rgba-opacity font-weight-bold mt-3">
                {{ gettext("Delete account form button") }}
            </button>
        </div>
    </div>


{% endblock %}
