<!DOCTYPE html>
<html lang="en">

<head>

    <title>{% block title %}{% endblock %} - Health4U</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"  >

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
        integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='health4u.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-social.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='contact-bts.css') }}">
    {% block head %}{% endblock %}
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #355D5F; height: 65px " >
        <a class="navbar-brand" href="{{ url_for('home') }}" ><img src="../static/images/logo1.1.png" style="margin-bottom: 10px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
            aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse  navbar-collapse" id="main-navbar"  >
            <ul class="navbar-nav mr-auto" style="font-size: 22px" >
                <li  class="nav-item{%- if request.endpoint == 'home' %} active{% endif %}">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
                <li class="nav-item{%- if request.endpoint == 'hospitals' %} active{% endif %}">
                    <a class="nav-link" href="{{ url_for('hospitals') }}">Hospitals</a></li>
                <li class="nav-item{%- if request.endpoint == 'on_duty' %} active{% endif %}">
                    <a class="nav-link" href="{{ url_for('on_duty') }}">On Duty</a></li>
                <li class="nav-item{%- if request.endpoint == 'contact_us' %} active{% endif %}">
                    <a class="nav-link" href="{{ url_for('contact_us') }}">Contact Us</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item{%- if request.endpoint == 'sign_up' %} active{% endif %}">
                    <a class="nav-link" href="{{ url_for('sign_up') }}"><i class="fas fa-user-plus"></i>Sign Up</a>
                </li>
                <li class="nav-item{%- if request.endpoint == 'log_in' %} active{% endif %}">
                    <a class="nav-link" href="{{ url_for('log_in') }}"><i class="fas fa-sign-in-alt"></i>Login</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}


    <footer class="text-muted container-fluid mt-5">
        <p style="color: white; font-size: 15px; margin-bottom: auto">©Copyright {{ req_datetime.year }}<br>
            Made with ❤️ by Athanasakis Theodosios, Giannakopoulos Grigorios, Kyrama Styliani, Makris Ioannis</p>
    </footer>

    <!--============================================================
        Bootstrap core JavaScript
        Placed at the end of the document so the pages load faster
        ============================================================-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>
