<!DOCTYPE html>
<html lang="{{ get_locale() }}" class="vh-100">

<head>

    <title>{% block title %}{% endblock %} - Health4U</title>
    <link rel="icon" href="../static/images/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
          integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css"
          integrity="sha256-rFMLRbqAytD9ic/37Rnzr2Ycy/RlpxE5QH52h7VoIZo=" crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.15/css/bootstrap-select.min.css"
          integrity="sha256-GNFsRKj4Q3Q32hkM1oBsBA0goERfNG9YRA3RKwVOV1w=" crossorigin="anonymous"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='health4u.css') }}">
    {% block head %}{% endblock %}
</head>

<body class="position-relative background-color-bg min-vh-100">

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-dark m-0 p-1 main-color-bg">
    <a class="navbar-left" href="{{ url_for('home') }}"><img src="../static/images/img-logo.png" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
            aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-menu">
        <ul class="navbar-nav mr-auto h4 font-weight-normal">
            <li class="nav-item {%- if request.endpoint == 'home' %} active{% endif %}">
                <a class="nav-link nav-link-hover" href="{{ url_for('home') }}">{{ gettext("Home") }}</a>
            </li>
            <li class="nav-item {%- if request.endpoint == 'hospitals' %} active{% endif %}">
                <a class="nav-link nav-link-hover" href="{{ url_for('hospitals') }}">{{ gettext("Hospitals") }}</a>
            </li>
            <li class="nav-item {%- if request.endpoint == 'covid19' %} active{% endif %}">
                <a class="nav-link nav-link-hover" href="{{ url_for('covid19') }}">{{ gettext("Covid-19") }}</a>
            </li>
            <li class="nav-item {%- if request.endpoint == 'contact_us' %} active{% endif %}">
                <a class="nav-link nav-link-hover" href="{{ url_for('contact_us') }}">{{ gettext("Contact Us") }}</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto h5 font-weight-normal">
            {% if get_locale() == "en" %}
                <li id="greekLangTile" class="nav-item">
                    <a class="nav-link nav-link-hover" id="greekFlag" href="" onclick="set_lang('el')">
                        <img src="../static/images/flag_gr_24.png" alt="{{ gettext("Lang to greek") }}"/>
                    </a>
                </li>
            {% else %}
                <li id="englishLangTile" class="nav-item">
                    <a class="nav-link nav-link-hover" id="englishFlag" href="" onclick="set_lang('en')">
                        <img src="../static/images/flag_uk_24.png" alt="{{ gettext("Lang to english") }}"/>
                    </a>
                </li>
            {% endif %}
            {% if not current_user.is_authenticated %}
                <li id="signUpTile" class="nav-item {%- if request.endpoint == 'sign_up' %} active{% endif %}">
                    <a class="nav-link nav-link-hover" href="{{ url_for('sign_up') }}"><i class="fas fa-user-plus"></i>
                        {{ gettext("Sign Up") }}</a>
                </li>
                <li id="loginTile" class="nav-item {%- if request.endpoint == 'log_in' %} active{% endif %}">
                    <a class="nav-link nav-link-hover" href="{{ url_for('log_in') }}"><i class="fas fa-sign-in-alt"></i>
                        {{ gettext("Login") }}</a>
                </li>

            {% else %}
                <li id="userTile" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-link-hover" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
                        <i class="fa fa-user"></i> {{ gettext("Account") }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right main-color-bg" aria-labelledby="Account">
                        <a class="dropdown-item nav-link-hover text-white rgba-opacity"
                           href="{{ url_for('account_details') }}">
                            <i class="fa fa-cog"></i> {{ gettext("Account Details") }}</a>
                        <a class="dropdown-item nav-link-hover text-white rgba-opacity"
                           href="{{ url_for('change_password') }}">
                            <i class="fa fa-key"></i> {{ gettext("Change Password") }}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item nav-link-hover text-white rgba-opacity" href="/logout">
                            <i class="fa fa-sign-out-alt"></i> {{ gettext("Logout") }}</a>
                    </div>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>
<!-- #Navigation Bar -->

{% block content %}{% endblock %}

<!-- Footer -->
<footer class="p-3 w-100 color-3-bg position-absolute fixed-bottom low-z-index">
    <div class="container text-center text-white">
        ©Copyright {{ req_datetime.year }}<br>
        {{ gettext("Footer msg") }}<br>
    </div>
</footer>
<!-- #Footer -->

<!-- Back to Top Button -->
<button class="btn back-to-top color-4-bg border-0 rounded-circle text-white">
    <i class="fa fa-chevron-up"></i>
</button>
<!-- #Back to Top Button -->


<!--============================================================
    Bootstrap core JavaScript
    Placed at the end of the document so the pages load faster
    ============================================================-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.15/js/bootstrap-select.min.js"
        integrity="sha256-MvL1jf50gmloWCyAbHahSsBOBbeUtcvavfD6eSpGjvA="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
        integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<script src="{{ url_for('static', filename='health4u.js') }}"></script>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/el_GR/sdk.js#xfbml=1&version=v7.0"></script>

<script>

    $(window).ready(function () {

        // Database actions on window load
        if (window.location.pathname === "/hospitals") {

            let filterStr = setFilterPath("{{ current_user.region_id }}")

            add_options_region("/api/v1/filter_region?" + filterStr, "regionFilter", "{{ current_user.region_id }}");
            add_options_hospital("/api/v1/filter_hospital?" + filterStr);
            add_options_department("/api/v1/filter_department?" + filterStr);
            setHospitals("/api/v1/filter_hospital?" + filterStr);

        } else if (window.location.pathname === "/sign_up") {
            add_options_region("/api/v1/region", "region");

        } else if (window.location.pathname === "/account_details") {
            add_options_region("/api/v1/region", "region_account", "{{ current_user.region_id }}");

        } else if (window.location.pathname === "/forgot_password") {
            add_options_region("/api/v1/region", "region_forgot");

        } else {
            // Nothing
        }
        // #Database actions on window load


    })

</script>

</body>

</html>
