{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}

    <div class="card sign-card text-center mx-auto mt-4">
        <div class="card-body">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            <span>{{ message }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <h3 class="mt-3">{{ gettext("Change Password") }}</h3>
            <p class="hint-text">{{ gettext("Fill the following form, to change your password") }}</p>
            <form method="post" action="{{ url_for('change_password') }}">
                <div class="form-group mt-4">
                    <label for="password" class="sr-only">{{ gettext("Old Password") }}</label>
                    <input type="password" class="form-control input-lg" id="old_password" name="old_password"
                           placeholder="{{ gettext("Old Password") }}"
                           required="required">
                </div>
                <div class="form-group mt-4">
                    <label for="password" class="sr-only">{{ gettext("New Password") }}</label>
                    <input type="password" class="form-control input-lg" id="new_password" name="new_password"
                           placeholder={{ gettext("New Password") }}" required="required">
                </div>
                <div class="form-group mt-4">
                        <label for="password" class="sr-only">{{ gettext("Confirm New Password") }}</label>
                        <input type="password" class="form-control input-lg" id="conf_new_password" name="conf_new_password"
                               placeholder="{{ gettext("Confirm New Password") }}" required="required">
                </div>
                <button type="submit" class="btn btn-lg btn-block rgba-opacity main-color-bg font-weight-bold mt-3">
                    {{ gettext("Change Password") }}
                </button>
            </form>
        </div>
    </div>


{% endblock %}
