{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}

    <div class="container mt-4 mx-auto justify-content-center">

        <div class="row mx-auto">
            <h1 class="text-center row mx-auto">{{ gettext("Contact Us") }}</h1>
        </div>
        <div class="row mx-auto">
            <p class="text-center row pb-2 mx-auto">{{ gettext("Contact us subtitle") }}</p>
        </div>

        <div class="row align-items-center justify-content-center mx-auto">

            <!-- Contact Form -->
            <form class="col-lg-7 mb-4" method="post" action="/contact_us">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                <span>{{ message }}</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="card with-border">

                    <div class="card-header p-0 main-color-bg">
                        <div class="text-white text-center py-2 h2">
                            <i class="fa fa-envelope"></i> {{ gettext("Contact us form title") }}
                        </div>
                    </div>

                    <div class="card-body p-3">

                        <div class="form-group">
                            <label class="h5" for="contact-name">{{ gettext("Full name title") }}*</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user fa-lg ic main-color"></i>
                                </div>
                                <input type="text" class="form-control" id="contact-name" name="contact-name"
                                       placeholder="{{ gettext("Full name placeholder") }}"
                                        {% if current_user.is_authenticated %}
                                       value="{{ current_user.first_name }} {{ current_user.last_name }}"
                                        {% endif %}
                                       required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="h5" for="contact-email">{{ gettext("Email title") }}*</label>
                            <div class="input-group mb-2 mb-sm-0">
                                <div class="input-group-addon">
                                    <i class="fa fa-envelope fa-lg ic main-color"></i>
                                </div>
                                <input type="text" class="form-control" id="contact-email" name="contact-email"
                                       placeholder="{{ gettext("Email placeholder") }}" value="{{ current_user.email }}"
                                       required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="h5" for="contact-need">{{ gettext("Specify need title") }}*</label>
                            <div class="input-group mb-2 mb-sm-0">
                                <div class="input-group-addon"><i class="fa fa-tag fa-lg ic main-color"></i></div>
                                <select id="contact-need" class="selectpicker form-control" name="contact-need"
                                        title="{{ gettext("Specify need placeholder") }}" required="required">
                                    <option value="0">{{ gettext("Functionalities Addition option") }}</option>
                                    <option value="1">{{ gettext("Report a Problem option") }}</option>
                                    <option value="2">{{ gettext("Out of Date Data option") }}</option>
                                    <option value="3">{{ gettext("Other option") }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="h5" for="contact-message">{{ gettext("Message title") }}*</label>
                            <div class="input-group mb-2 mb-sm-0">
                                <div class="input-group-addon"></div>
                                <textarea class="form-control" id="contact-message" name="contact-message"
                                          placeholder="{{ gettext("Message text") }}" required></textarea>
                            </div>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-lg btn-block rgba-opacity main-color-bg font-weight-bold my-4 with-border">
                                {{ gettext("Submit button") }}
                            </button>
                        </div>

                    </div>
                </div>
            </form>
            <!-- #Contact Form -->

        </div>
        <!-- Other Options -->
        <div class="row text-center align-items-center justify-content-center">
            <div class="row text-center col-lg-7">
                <div class="col-md-4">
                    <a class="px-3 py-2 rounded text-white mb-2 d-inline-block main-color-bg">
                        <i class="fa fa-map-marker fa-lg"></i>
                    </a>
                    <p>
                        {{ gettext("Website address") }}
                    </p>
                </div>

                <div class="col-md-4">
                    <a class="px-3 py-2 rounded text-white mb-2 d-inline-block main-color-bg"><i
                            class="fa fa-phone fa-lg fa-flip-horizontal"></i></a>
                    <p>
                        <a href="tel:231 011 1222">231 011 1222</a><br>
                        {{ gettext("Open days") }}, 12:00-24:00
                    </p>
                </div>

                <div class="col-md-4">
                    <a class="px-3 py-2 rounded text-white mb-2 d-inline-block main-color-bg"><i
                            class="fa fa-envelope fa-lg"></i></a>
                    <p>
                        <a href="mailto:health4u.informations@gmail.com">health4u.informations<br>@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- #Other Options -->
    </div>

{% endblock %}
