{% extends 'base.html' %}

<!--<script>-->
<!--    {% if current_user.is_authenticated %}-->
    <!--    document.getElementById("contact-name").value = "{{ current_user.first_name }} {{ current_user.last_name }}";-->
    <!--    {% endif %}-->
<!--</script>-->


{% block title %}Contact Us{% endblock %}

{% block content %}

    <div class="container mt-4 mx-auto justify-content-center">

        <div class="row mx-auto">
            <h1 class="text-center row mx-auto">{{ gettext("Contact us") }}</h1>
        </div>
        <div class="row mx-auto">
            <p class="text-center row pb-2 mx-auto">{{ gettext("Please use the contact form below.") }}</p>
        </div>

        <div class="row align-items-center justify-content-center mx-auto">

            <!-- Contact Form -->
            <form class="col-lg-7 mb-4" method="post" action="/contact_us">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                                <span>{{ message }}</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="card with-border">

                    <div class="card-header p-0 main-color-bg">
                        <div class="text-white text-center py-2 h2">
                            <i class="fa fa-envelope"></i> {{ gettext("Write to us:") }}
                        </div>
                    </div>

                    <div class="card-body p-3">

                        <div class="form-group">
                            <label class="h5" for="contact-name">{{ gettext("Your name *") }}</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user fa-lg ic main-color"></i>
                                </div>
                                <input type="text" class="form-control" id="contact-name" name="contact-name"
                                       placeholder="Name"
                                        {% if current_user.is_authenticated %}
                                       value="{{ current_user.first_name }} {{ current_user.last_name }}"
                                        {% endif %}
                                       required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="h5" for="contact-email">{{ gettext("Your email *") }}</label>
                            <div class="input-group mb-2 mb-sm-0">
                                <div class="input-group-addon">
                                    <i class="fa fa-envelope fa-lg ic main-color"></i>
                                </div>
                                <input type="text" class="form-control" id="contact-email" name="contact-email"
                                       placeholder="Email"
                                       value="{{ current_user.email }}"
                                       required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="h5" for="contact-need">{{ gettext("Please specify your need *") }}</label>
                            <div class="input-group mb-2 mb-sm-0">
                                <div class="input-group-addon"><i class="fa fa-tag fa-lg ic main-color"></i></div>
                                <select id="contact-need" class="selectpicker form-control" name="contact-need"
                                        data-error="Please specify your need." data-live-search="true"
                                        required="required">
                                    <option value=""></option>
                                    <option value="0">{{ gettext("Functionalities Addition") }}</option>
                                    <option value="1">{{ gettext("Report a Problem") }}</option>
                                    <option value="2">{{ gettext("Out of Date Data") }}</option>
                                    <option value="3">{{ gettext("Other") }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="h5" for="contact-message">{{ gettext("Message") }}</label>
                            <div class="input-group mb-2 mb-sm-0">
                                <div class="input-group-addon"></div>
                                <textarea class="form-control" id="contact-message" name="contact-message"
                                          placeholder="Type your message here"></textarea>
                            </div>
                        </div>

                        <div class="text-center">
                            <button class="btn btn-block py-2 text-white main-color-bg with-border"><h3>{{ gettext("Submit") }}</h3>
                            </button>
                        </div>

                    </div>
                </div>
            </form>
            <!-- #Contact Form -->

        </div>
        <!-- Other Options -->
        <div class="row text-center align-items-center justify-content-center">
            <div class="row text-center col-lg-7">
                <div class="col-md-4">
                    <a class="px-3 py-2 rounded text-white mb-2 d-inline-block main-color-bg">
                        <i class="fa fa-map-marker fa-lg"></i>
                    </a>
                    <p>
                        {{ gettext("Thessaloniki") }},<br>
                        {{ gettext("Greece") }}
                    </p>
                </div>

                <div class="col-md-4">
                    <a class="px-3 py-2 rounded text-white mb-2 d-inline-block main-color-bg"><i
                            class="fa fa-phone fa-lg fa-flip-horizontal"></i></a>
                    <p>
                        <a href="tel:231 011 1222">231 011 1222</a><br>
                        {{ gettext("Mon - Fri") }}, 12:00-24:00
                    </p>
                </div>

                <div class="col-md-4">
                    <a class="px-3 py-2 rounded text-white mb-2 d-inline-block main-color-bg"><i
                            class="fa fa-envelope fa-lg"></i></a>
                    <p>
                        <a href="mailto:health4u.informations@gmail.com">health4u.informations<br>@gmail.com</a>
                        <!--<a href="mailto:info2@gmail.com">info2@gmail.com</a>-->
                    </p>
                </div>
            </div>
        </div>
        <!-- #Other Options -->
    </div>

{% endblock %}
