{% extends 'base.html' %}

{% block title %}Covid-19{% endblock %}

{% block content %}

    <div class="container mt-4">

        <!-- Tab Titles -->
        <nav class="nav nav-tabs nav-fill" id="nav-tab">
            <a class="nav-item nav-link h5 text-dark active" id="nav-map-tab" data-toggle="tab" href="#nav-map"
               role="tab" aria-controls="nav-map" aria-selected="true">{{ gettext("Map tab") }}</a>
            <a class="nav-item nav-link h5 text-dark" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab"
               aria-controls="nav-info" aria-selected="false">{{ gettext("Information tab") }}</a>
        </nav>
        <!-- #Tab Titles -->

        <!-- Tab Content -->
        <div class="tab-content border-top-0" id="nav-tabContent">

            <!-- Map Covid -->
            <div class="tab-pane fade bg-white show active" id="nav-map" role="tabpanel" aria-labelledby="nav-map-tab">
                <div class="flourish-embed flourish-map" data-src="story/225979">
                    <script src="https://public.flourish.studio/resources/embed.js"></script>
                </div>
            </div>
            <!-- #Map Covid -->

            <!-- Information about Covid-19 -->
            <div class="tab-pane fade bg-white p-5" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
                <p class="h3">
                    {{ gettext("About Covid-19 title") }}
                </p>
                <p>
                    {{ gettext("About Covid-19 text") }}
                </p>

                <p>
                    {{ gettext("About Covid-19 text2") }}
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        1. {{ gettext("Hospital Sotiria") }}
                    </li>
                    <li class="list-group-item">
                        2. {{ gettext("Hospital Euaggelismos") }}
                    </li>
                    <li class="list-group-item">
                        3. {{ gettext("Hospital Attikon") }}
                    </li>
                    <li class="list-group-item">
                        4. {{ gettext("Hospital Thriasio") }}
                    </li>
                    <li class="list-group-item">
                        5. {{ gettext("Hospital AHEPA") }}
                    </li>
                    <li class="list-group-item">
                        6. {{ gettext("University Hospital of Alexandroupoli") }}
                    </li>
                    <li class="list-group-item">
                        7. {{ gettext("Hospital Mpodasakio") }}
                    </li>
                    <li class="list-group-item">
                        8. {{ gettext("University Hospital of Larisa") }}
                    </li>
                    <li class="list-group-item">
                        9. {{ gettext("Hospital of Lamia") }}
                    </li>
                    <li class="list-group-item">
                        10. {{ gettext("Main Hospital") }} {{ gettext("University Hospital of Patra")}}
                    </li>
                    <li class="list-group-item">
                        11. {{ gettext("University Hospital of Ioannina") }}
                    </li>
                    <li class="list-group-item">
                        12. {{ gettext("Main Hospital") }} {{ gettext("University Hospital of Iraklio") }}
                    </li>
                    <li class="list-group-item">
                        13. {{ gettext("Hospital O Agios Georgios") }}
                    </li>
                </ul>
            </div>
            <!-- #Information about Covid-19 -->

        </div>
        <!-- #Tab Content -->

    </div>


{% endblock %}
