{% extends 'base.html' %}

{% block title %}Hospitals{% endblock %}

{% block content %}

<div class="container">

    <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="pills-map-tab" data-toggle="pill" href="#pills-map" role="tab"
               aria-controls="pills-map" aria-selected="true">Map</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-information-tab" data-toggle="pill" href="#pills-information" role="tab"
               aria-controls="pills-profile" aria-selected="false">More Information</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
            <iframe
                    src="https://lab.imedd.org/covid19/"
                    style="border:0 #ffffff none;"
                    name="imedd-covid"
                    scrolling="no"
                    frameborder="1"
                    marginheight="0px"
                    marginwidth="0px"
                    height="100%"
                    width="100%"
                    allowfullscreen>
            </iframe>
        </div>
        <div class="tab-pane fade" id="pills-information" role="tabpanel" aria-labelledby="pills-information-tab">
            <div class="m-5">
                <p class="h3">
                    About the map
                </p>
                <p>
                    The map is provided by <a href="https://www.imedd.org/">iMEdD</a>, a non profit organization founded
                    in
                    2018 with the exclusive donation of Stavros Niarchos Foundation.
                </p>

                <p class="h3">
                    About the COVID-19 disease
                </p>
                <p>
                    Coronavirus disease 2019 (COVID-19) is an infectious disease caused by severe acute respiratory
                    syndrome
                    coronavirus 2 (SARS-CoV-2). The disease was first identified in December 2019 in Wuhan, the capital
                    of
                    China's Hubei province, and has since spread globally, resulting in the ongoing 2019–20 coronavirus
                    pandemic. Common symptoms include fever, cough and shortness of breath. Other symptoms may include
                    fatigue, muscle pain, diarrhoea, sore throat, loss of smell and abdominal pain. The time from
                    exposure to onset of symptoms is typically around five days, but may range from two to fourteen
                    days.
                    While the majority of cases result in mild symptoms, some progress to viral pneumonia and
                    multi-organ
                    failure. As of 11 April 2020, more than 1.69 million cases have been reported in more than 200
                    countries and territories, resulting in more than 102,000 deaths. More than 376,000 people have
                    recovered.
                </p>

                <p>
                    In Greece, there are 13 hospitals exclusively for COVID-19 cases. These hospitals are:
                </p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">1. ΓΝ Νοσημάτων Θώρακος Αθηνών «Η Σωτηρία» 210-7763100</li>
                    <li class="list-group-item">2. ΓΝ Αθηνών «Ο Ευαγγελισμός» 213–2041000</li>
                    <li class="list-group-item">3. Πανεπιστημιακό ΓΝ «Αττικόν» 210-5831000</li>
                    <li class="list-group-item">4. ΓΝ Ελευσίνας «Θριάσιο» 213-2028000</li>
                    <li class="list-group-item">5. Πανεπιστημιακό ΓΝ Θεσσαλονίκης ΑΧΕΠΑ 231-3303110, 111, 310</li>
                    <li class="list-group-item">6. Πανεπιστημιακό ΓΝ Αλεξανδρούπολης 255-1351000, 2000, 3000</li>
                    <li class="list-group-item">7. ΓΝ Πτολεμαΐδας «Μποδοσάκειο» 246-3351100</li>
                    <li class="list-group-item">8. Πανεπιστημιακό ΓΝ Λάρισας 241-3501179, 2399</li>
                    <li class="list-group-item">9. ΓΝ Λαμίας 223-1356000</li>
                    <li class="list-group-item">10. Βασικό: Πανεπιστημιακό ΓΝ Πατρών «Παναγιά η Βοήθεια» 261-1100281
                    </li>
                    <li class="list-group-item">11. Πανεπιστημιακό ΓΝ Ιωαννίνων 265-10 99111, 265-13062111</li>
                    <li class="list-group-item">12. Βασικό: Πανεπιστημιακό ΓΝ Ηρακλείου 281-3402111, 281-0392111</li>
                    <li class="list-group-item">13. ΓΝ Χανίων «Ο Άγιος Γεώργιος» 282-1022000, 282-1342000</li>
                </ul>

            </div>

        </div>
    </div>
</div>


{% endblock %}
