{% extends 'base.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}

    <div class="card sign-card text-center mx-auto mt-4">
        <div class="card-body">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                            <span>{{ message }}</span>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <h3 class="mt-3">{{ gettext("Forgot Password title") }}</h3>
            <p class="hint-text">{{ gettext("Forgot Password subtitle") }}</p>
            <form method="post">
                <div class="form-group mt-4">
                    <label for="email" class="sr-only">{{ gettext("Email title")}}</label>
                    <input type="email" class="form-control input-lg" id="email" name="email"
                           placeholder="{{ gettext("Email placeholder")}}" required="required">
                </div>
                <div class="form-group mt-4">
                    <label for="first_name" class="sr-only">{{ gettext("First Name title") }}</label>
                    <input type="text" class="form-control input-lg" id="first_name" name="first_name"
                           placeholder="{{ gettext("First Name placeholder") }}" required="required">
                </div>
                <div class="form-group mt-4">
                    <label for="last_name" class="sr-only">{{ gettext("Last Name title") }}</label>
                    <input type="text" class="form-control input-lg" id="last_name" name="last_name"
                           placeholder="{{ gettext("Last Name placeholder") }}" required="required">
                </div>
                <div class="form-group mt-4">
                    <label for="region_forgot" class="sr-only">{{ gettext("Region filter") }}</label>
                    <select class="selectpicker form-control" id="region_forgot" id="region_forgot"
                            title="{{ gettext("Region filter placeholder") }}" name="region_forgot" required="required">
                        {# Dynamic loading of options #}
                    </select>
                </div>
                <button type="submit" class="btn btn-lg btn-block rgba-opacity main-color-bg font-weight-bold mt-3">
                    {{ gettext("Submit button") }}
                </button>
            </form>
        </div>
    </div>


{% endblock %}
