{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="container mt-4 justify-content-start">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        <span>{{ message }}</span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <!-- Welcome Card -->
        <div class="card rounded-lg with-border my-2">
            <div class="h2 card-title text-white text-center main-color-bg rounded mx-3 my-3 p-2">
                {{ gettext("Welcome") }}
            </div>
            <div class="h5 font-weight-light card-body">
                {{ gettext("Welcome msg") }}
            </div>
        </div>
        <!-- #Welcome Card -->

        <!-- Alert for Covid-19 -->
        <div class="card rounded-lg">

            <div class="card-title text-white bg-danger rounded w-50 mx-3 my-3 p-2">
                <div class="h6 my-2">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    {{ gettext("Covid-19 alert") }}
                </div>
            </div>

            <div class="card-body">
                <div class="card-subtitle mb-2">{{ gettext("Covid-19 alert msg") }}
                    <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public"
                       target="_blank"><u>{{ gettext("WHO") }}</u></a>
                </div>

                <button type="button" class="btn btn-link btn-md border-secondary rounded-pill col-xs">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <a href="https://eody.gov.gr/neos-koronaios-covid-19/" target="_blank">
                        <u>{{ gettext("National Organization of Public Health") }}</u>
                    </a>
                </button>

            </div>
        </div>
        <!-- #Alert for Covid-19 -->

        <!-- Carousel -->
        <div class="row mx-2 my-3 p-auto main-color-bg align-items-center">

            <!-- Facebook plugin -->
            <div class="col-md-4 m-0 p-3">
                <div class=" d-flex justify-content-center text-center fb-page"
                     data-href="https://www.facebook.com/Health-4U-106028021134710/" data-tabs=""
                     data-width="" data-height="" data-small-header="false" data-adapt-container-width="true"
                     data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/Health-4U-106028021134710/"
                                class="fb-xfbml-parse-ignore">
                        <a href="https://www.facebook.com/Health-4U-106028021134710/">Health 4U</a>
                    </blockquote>
                </div>
            </div>
            <!-- #Facebook plugin -->

            <div class="col-md-8 m-0 p-0">

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="carousel-item h-100 active">
                            <img class="d-block w-100" src="../static/images/img-carousel-who.png"
                                 alt="{{ gettext("SDG img") }}">
                        </div>
                        <div class="carousel-item h-100">
                            <img class="d-block w-100" src="../static/images/img-carousel-health-care.png"
                                 alt="{{ gettext("Health Care Image") }}">
                        </div>
                        <div class="carousel-item h-100">
                            <img class="d-block w-100" src="../static/images/img-carousel-covid.png"
                                 alt="{{ gettext("WHO img Covid-19") }}">
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">{{ gettext("Previous") }}</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">{{ gettext("Next") }}</span>
                    </a>
                </div>

            </div>

        </div>
        <!-- #Carousel -->

        <!-- Page Features -->
        <div class="row text-center m-3">

            <a class="col-xs mx-auto my-3" href="{{ url_for('hospitals') }}">
                <div class="card img-fluid">
                    <img class="card-img-top" src="../static/images/img-card-hospitals.png"
                         alt="{{ gettext("Hospital Card Image") }}">
                    <div class="card-img-overlay">

                        <div class="card-header card-title text-dark h5"><u>{{ gettext("Hospitals") }}</u></div>

                        <div class="card-body">
                            <p class="card-text font-weight-bold text-dark">
                                {{ gettext("Hospital card explanation") }}
                            </p>
                        </div>
                    </div>
                </div>
            </a>

            <a class="col-xs m-auto my-3" href="{{ url_for('covid19') }}">
                <div class="card img-fluid ">
                    <img class="card-img-top" src="../static/images/img-card-covid.png"
                         alt="{{ gettext("Covid-19 Card Image") }}">
                    <div class="card-img-overlay">

                        <div class="card-header card-title text-white h5"><u>Covid-19</u></div>

                        <div class="card-body">
                            <p class="card-text font-weight-bold text-white">
                                {{ gettext("Covid-19 card explanation") }}
                            </p>
                        </div>
                    </div>
                </div>
            </a>

        </div>
        <!-- #Page Features -->

    </div>

{% endblock %}
