{% extends 'base.html' %}

{% block title %}Hospitals{% endblock %}

{% block content %}

<div class="container">

    <form class="hospital-select-form rounded-lg p-2 my-2">
        <div class="form-group">
            <label for="region">Region:</label>
            <select class="form-control" id="region">
                <option>Select Region</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
            <label for="hospital">Hospital:</label>
            <select class="form-control" id="hospital">
                <option>Select Hospital</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
            <label for="department">Department:</label>
            <select class="form-control" id="department">
                <option>Select Department</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
    </form>


    <div class="accordion" id="hospital-results" role="tablist" aria-multiselectable="true">

        <div class="card">
            <div class="card-header p-0" role="tab" id="headingOne1">
                <button class="btn btn-block text-left btn-collapse-hospital" data-toggle="collapse"
                    data-parent="#hospital-results" data-target="#collapseOne1" aria-expanded="true"
                    aria-controls="collapseOne1">
                    <h5 class="mb-0">
                        <i class="fas fa-hospital"></i>Hospital 1 <i class="fas fa-angle-up rotate-icon"></i>
                    </h5>
                </button>
            </div>

            <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                data-parent="#hospital-results">

                <div class="contact-info-wrapper m-2">
                    <div><i class="fas fa-phone-alt fa-lg"></i>Telephone:</div>
                    <div>12345 09876</div>
                    <div><i class="fas fa-map-marker-alt fa-lg"></i>Address:</div>
                    <div>Road Street, Town</div>
                    <div><i class="fas fa-envelope fa-lg"></i>Email:</div>
                    <div>example@email.com</div>
                    <div><i class="fas fa-fax fa-lg"></i>Fax:</div>
                    <div>12345 12345</div>
                </div>

            </div>
        </div>

        <div class="card">
            <div class="card-header p-0" role="tab" id="headingOne2">
                <button class="btn btn-block text-left btn-collapse-hospital" data-toggle="collapse"
                    data-parent="#hospital-results" data-target="#collapseOne2" aria-expanded="true"
                    aria-controls="collapseOne2">
                    <h5 class="mb-0">
                        <i class="fas fa-hospital"></i>Hospital 2 <i class="fas fa-angle-up rotate-icon"></i>
                    </h5>
                </button>
            </div>

            <div id="collapseOne2" class="collapse" role="tabpanel" aria-labelledby="headingOne2"
                data-parent="#hospital-results">

                <div class="contact-info-wrapper m-2">
                    <div><i class="fas fa-phone-alt fa-lg"></i>Telephone:</div>
                    <div>12345 09876</div>
                    <div><i class="fas fa-map-marker-alt fa-lg"></i>Address:</div>
                    <div>Road Street, Town</div>
                    <div><i class="fas fa-envelope fa-lg"></i>Email:</div>
                    <div>example@email.com</div>
                    <div><i class="fas fa-fax fa-lg"></i>Fax:</div>
                    <div>12345 12345</div>
                </div>

            </div>
        </div>

        <div class="card">
            <div class="card-header p-0" role="tab" id="headingOne3">
                <button class="btn btn-block text-left btn-collapse-hospital" data-toggle="collapse"
                    data-parent="#hospital-results" data-target="#collapseOne3" aria-expanded="true"
                    aria-controls="collapseOne3">
                    <h5 class="mb-0">
                        <i class="fas fa-hospital"></i>Hospital 3 <i class="fas fa-angle-up rotate-icon"></i>
                    </h5>
                </button>
            </div>

            <div id="collapseOne3" class="collapse" role="tabpanel" aria-labelledby="headingOne3"
                data-parent="#hospital-results">

                <div class="contact-info-wrapper m-2">
                    <div><i class="fas fa-phone-alt fa-lg"></i>Telephone:</div>
                    <div>12345 09876</div>
                    <div><i class="fas fa-map-marker-alt fa-lg"></i>Address:</div>
                    <div>Road Street, Town</div>
                    <div><i class="fas fa-envelope fa-lg"></i>Email:</div>
                    <div>example@email.com</div>
                    <div><i class="fas fa-fax fa-lg"></i>Fax:</div>
                    <div>12345 12345</div>
                </div>

            </div>
        </div>

    </div>

</div>

{% endblock %}