:root {
    --main-theme-color: #255557;
    --color-2: #7B7E81;
    --color-3: #727072;
    --color-4: #AF929D;
    --color-5: #D2D6EF;
    --color-6: #55595D;
    --color-7: #c6c7c9;
}

html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    background-color: #e8e8e8;
}

body::after {
    content: '';
    display: block;
    min-height: 200px;
}

footer {
    background-color: var(--color-3);
    position: absolute;
    bottom: 0;
    width: 100%;
}

#main-navbar {
    background-color: var(--main-theme-color);
    height: 100%;
}

.nav-link:current{
    background-color: grey;
}

#leftMenu {
    font-size: 1.4rem;
    height: 100%;

}

#rightMenu{
    font-size: 1.1rem;
}
.nav-link:hover{
    background-color: #19393b;
    height: 100%;
}

.medium-im {
    width: 50%;
}

.search-input {
    width: 50%;
    border-radius: 5rem;
}

.row-sign-in {
    max-width: 60rem;
}

.btn-social {
    max-width: 20rem;
}

.btn-collapse-filters {
    background-color: var(--color-3);
}

.btn-collapse-hospital {
    background-color: var(--main-theme-color);
}

.btn-collapse-filters, .btn-collapse-hospital {
    color: rgba(255, 255, 255, 0.7);
}

.btn-collapse-filters:hover, .btn-collapse-hospital:hover {
    color: rgba(255, 255, 255, 1.0);
}

.rotate-icon.fa-angle-up {
    float: right;
}

.rotate-icon {
    transform: rotate(0deg);
    transition: .3s transform ease-in-out;
    display: inline-block;
}

.collapsed .rotate-icon {
    transform: rotate(180deg);
}

.contact-info-wrapper {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 1.5rem;
    align-items: baseline;
}

.hospital-select-form {
    background-color: var(--color-4);
}

.cite_covid {
    text-align: center;
    font-weight: bold;
}

.my-responsive-height {
    max-height: 100%;
}

.with-border {
    border-color: var(--color-6);
}

.with-bg {
    background-color: var(--main-theme-color);
}

.grey-bg {
    background-color: var(--color-7);
}

.pink-bg{
    background-color: var(--color-4);
}

.ic {
    color: var(--main-theme-color);
    margin-right: 4px;
    margin-top: 12px;
}

.form-control {
    font-size: 16px;
    transition: all 0.4s;
    box-shadow: none;
}
.form-control:focus {
    border-color: #5cb85c;
}
.form-control, .btn {
    outline: none !important;
}
.signup-form {
    width: 480px;
    margin: 0 auto;
    padding: 30px 0;
}
.signup-form form {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 40px;
}
.signup-form a {
    color: #134926;
}
.signup-form h2 {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 15px;
}
.signup-form .hint-text {
    color: #999;
    text-align: center;
    margin-bottom: 20px;
}
.signup-form .form-group {
    margin-bottom: 20px;
}
.signup-form .btn {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}
.signup-btn {
    text-align: center;
    border-color: #205759;
    transition: all 0.4s;
    background-color: #205759;
}
.signup-btn:hover {
    background: #205759;
    opacity: 0.8;
}
.or-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}
.or-seperator b {
    padding: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
}
.social-btn .btn {
    color: #fff;
    margin: 10px 0 0 15px;
    font-size: 15px;
    border-radius: 50px;
    font-weight: normal;
    border: none;
    transition: all 0.4s;
}
.social-btn .btn:first-child {
    margin-left: 0;
}
.social-btn .btn:hover {
    opacity: 0.8;
}
.social-btn .btn-primary {
    background: #507cc0;
}
.social-btn .btn-info {
    background: #64ccf1;
}
.social-btn .btn-danger {
    background: #df4930;
}
.social-btn .btn i {
    float: left;
    margin: 3px 10px;
    font-size: 20px;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%var(--main-theme-color)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%var(--main-theme-color)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
    background-color: var(--color-4);
}

.underlined{
    text-decoration: underline;
}