:root {
    --main-theme-color: #255557;
    --color-2: #7B7E81;
    --color-3: #727072;
    --color-4: #AF929D;
    --color-5: #D2D6EF;
}

#main-navbar {
    background-color: var(--main-theme-color);
}

.navbar-nav {
    font-size: 1.4rem;
}

.medium-im {
    width: 50%;
}

.search-input {
    width: 50%;
    border-radius: 5rem;
}

.row-sign-in {
    max-width: 60rem;
}

.btn-social {
    max-width: 20rem;
}

.btn-collapse-hospital {
    background-color: var(--main-theme-color);
    color: rgba(255, 255, 255, 0.9);
}

.btn-collapse-hospital:hover {
    color: rgba(255, 255, 255, 1.0);
}

.rotate-icon.fa-angle-up {
    float: right;
}

.rotate-icon {
    transform: rotate(0deg);
    transition: .3s transform ease-in-out;
    display: inline-block;
}

.collapsed .rotate-icon {
    transform: rotate(180deg);
}

.contact-info-wrapper {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-column-gap: 1.5rem;
    align-items: baseline;
}

.hospital-select-form {
    background-color: var(--color-4);
}

.cite_covid {
    text-align: center;
    font-weight: bold;
}

.my-responsive-height {
    max-height: 100%;
}
